<!doctype html>
<html lang="en">
<head>

  <!-- Зависимость Bootstrap-->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device=width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">

  <title>Редактирование задачи</title>
</head>

<body>
  <div class="container-fluid p-0">
    <header th:insert="~{blocks/header :: header_main}"></header>
    <div class="container col-9">
      <form th:action="@{/tasks/edit}" method="post" th:object="${task}">
        <input type="hidden" name="id" th:field="*{id}">
        <div class="mb-3">
          <label for="name" class="form-label fs-6"><b>Название задачи</b></label>
          <input type="text" class="form-control" id="name" name="name" th:field="*{name}" placeholder="Название задачи">
        </div>
        <div class="mb-3">
          <label for="description" class="form-label fs-6"><b>Описание задачи</b></label>
          <textarea class="form-control" id="description" name="description" rows="9" th:field="*{description}" placeholder="Описание задачи"></textarea>
        </div>
        <div class="row">
          <div class="mb-3 col-3">
            <label for="priority.id"><b>Приоритет: </b></label>
            <select class="form-control" id="priority.id" name="priority.id">
              <option th:each="priority : ${priorities}" th:value="${priority.id}" th:text="${priority.name}" th:selected="${priority.id == task.priority.id}"></option>
            </select>
          </div>
          <div class="col-1"></div>
          <div class="mb-3 col-4">
            <label for="categoriesId"><b>Категории: </b></label>
            <select class="form-select" multiple="multiple" size="5" id="categoriesId" name="categoriesId" required>
              <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}" th:selected="${#lists.contains(task.categories, category)}"></option>
            </select>
          </div>
          <div class="col-1"></div>
          <div class="mb-3 col-3">
            <label for="created" class="fs-6"><b>Создана:</b></label>
            <input type="datetime" id="created" name="created" class="form-control" th:value="${#temporals.format(task.created, 'dd-MM-yyyy HH:mm')}">
          </div>
        </div>
        <div class="mb-3">
          <input type="checkbox" id="done" name="done" class="form-check-input" th:field="*{done}">
          <label for="done" class="fs-6"><b> Выполнена</b></label><br>
        </div>
        <div class="row">
          <div class="col-6 d-grid gap-2">
            <button class="btn btn-success w-150" type="submit">Отредактировать</button>
          </div>
          <div class="col-6 d-grid gap-2">
            <input type="reset" class="btn btn-danger w-150" value="Сбросить изменения">
          </div>
        </div>
      </form>
      <footer th:insert="~{blocks/footer :: footer}"></footer>
    </div>
  </div>
</body>
</html>