<!doctype html>
<html lang="en">

<div th:fragment="header_main">
  <nav class="navbar navbar-expand-lg navbar-dark bg-grey">
    <div class="container">
      <a class="navbar-brand text-secondary" href="/"><h2>ToDo List</h2></a>
      <div class="collapse navbar-collapse">
        <div class="col-1"></div>
        <div class="btn-group col-3">
          <button type="button" class="btn btn-outline-secondary btn-sm w-100">Выбор задач</button>
          <button type="button" class="btn btn-secondary btn-sm dropdown-toggle dropdown-toggle-split dropstart w-10" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" th:href="@{/tasks/all}">Все задачи</a></li>
            <li><a class="dropdown-item" th:href="@{/tasks/done}">Выполненные</a></li>
            <li><a class="dropdown-item" th:href="@{/tasks/new}">Новые</a></li>
          </ul>
        </div>
      </div>
      <div class="d-flex">
        <a class="nav-link text-secondary me-3" href="#" th:text="${user.name}"></a>
        <a class="nav-link text-secondary" th:href="@{/users/logout}">Выйти</a>
      </div>
    </div>
  </nav>
</div>

<div th:fragment="header_login">
  <nav class="navbar navbar-expand-lg navbar-dark bg-grey">
    <div class="container">
      <a class="navbar-brand text-secondary" href="/"><h2>ToDo List</h2></a>
    </div>
  </nav>
</div>